<div class="row gx-4 gx-lg-5">

    {% for card in site.data.packages %}

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">{{ card.name }}</h2>
                <p class="card-text">{{ card.desc | markdownify }}</p>
            </div>
            <div class="card-footer">
                {% if card.docs %}
                <a class="btn btn-secondary btn-sm" href="{{ card.docs }}" >
                    View Documentation
                </a>
                {% endif %}
                <a class="btn btn-primary btn-sm" href="{{ card.link }}" >
                    View on GitHub
                </a>
                {% if card.examples %}
                <a class="btn btn-secondary btn-sm" href="{{ card.docs }}" >
                    Examples
                </a>
                {% endif %}

            </div>
        </div>
    </div>

    {% endfor %}

</div>