<div class="row gx-4 gx-lg-5">

    <div class="col-md-4 mb-5">
        <div class="card h-100 blog">
            <div class="card-body">
                <h2 class="card-title">Blog</h2>
                <p class="card-text">Explanations, elaborations, and more about crystallographic data analysis, written by the 1/astronauts </p>
            </div>
            <div class="blog-footer">

                <a class="btn btn-primary btn-sm" href="/blog.html" >
                    See blog posts
                </a>

            </div>
        </div>
    </div>

    {% for card in site.data.packages %}

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">{{ card.name }}</h2>
                <p class="card-text">{{ card.desc | markdownify }}</p>
            </div>
            <div class="card-footer">
                {% if card.docs %}
                <a class="btn btn-secondary btn-sm" href="{{ card.docs }}" >
                    View Documentation
                </a>
                {% endif %}

                {% if card.examples %}
                <a class="btn btn-secondary btn-sm" href="{{ card.examples }}" >
                    Examples
                </a>
                {% endif %}
                <a class="btn btn-primary btn-sm" href="{{ card.link }}" >
                    View on GitHub
                </a>

            </div>
        </div>
    </div>

    {% endfor %}

</div>