<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand d-flex align-items-center" href="{{ '/index.html' | relative_url}}">
            <img style="height: 36px;" src="{{ '/assets/data/RSS_Worm_no_background.png' | relative_url }}" alt="Reciprocal Space Station logo" class="me-2" />
            {{ site.title }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                {% for item in site.data.navbar %}
                <li class="nav-item">
                    <a class="nav-link {% if page.url == item.link %} active {% endif %}"
                        href="{{ item.link  | relative_url }}">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}

                <li class="nav-item">
                    <a class="nav-link"
                        href="https://github.com/orgs/rs-station/repositories">
                        <i class="fa fa-github"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>
