<div class="row gx-4 gx-lg-5">

    {% for card in site.data.packages %}
        {% if card.type == 'production' %}
        <div class="col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ card.name }}</h5>
                    <p class="card-text">{{ card.desc | markdownify }}</p>
                </div>
                <div class="card-footer bg-transparent">
                    {% if card.docs %}
                    <a class="btn btn-outline-secondary btn-sm me-1" href="{{ card.docs }}">Documentation</a>
                    {% endif %}
                    {% if card.examples %}
                    <a class="btn btn-outline-secondary btn-sm me-1" href="{{ card.examples }}">Examples</a>
                    {% endif %}
                    <a class="btn btn-primary btn-sm" href="{{ card.link }}">GitHub</a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

</div>
