<!doctype html>

<html lang="{{ site.lang | default: " en-US" }}">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    
    <!-- Favicon-->
    <link rel="shortcut icon" href="/assets/data/rs-favicon_32x32.png" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="/assets/css/styles.css">

    <script src="https://use.fontawesome.com/72b03f0302.js"></script>

    <title>{{ site.title }} | {{ page.title }}</title>

  </head>

  <body>

    {% include navbar.html %}

    <div class="container px-4 px-lg-5">

      {{ content }}

    </div>

    {% include footer.html %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="assets/js/scripts.js"></script>
  </body>
</html>


